.idea
NimbleDemo.xcodeproj/project.xcworkspace/xcuserdata/shmidt.xcuserdatad/WorkspaceSettings.xcsettings
NimbleDemo.xcodeproj/xcuserdata/shmidt.xcuserdatad/xcschemes/NimbleDemo.xcscheme
NimbleDemo.xcodeproj/xcuserdata/shmidt.xcuserdatad/xcschemes/xcschememanagement.plist
